{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

<!-- Testing for rendering user-details -->

{% block content%}
<img src="{{user.image_url}}" alt="">
{% block heading %} {{user.first_name}} {{user.last_name}} {% endblock %}

<!-- <form action="/edit-user/{{user.id}}"> -->
<span>
<a href="/users/{{user.id}}/edit">Edit</a>
</span>
<!-- </form> -->
<form action='/users/{{user.id}}/delete' method="POST">
  <button>Delete</button>
</form>

<section>
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
      </li>
    {% endfor %}
  </ul>

  <a href="/users/{{user.id}}/posts/new">Add Post</a>
</section>

{% endblock %}