{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

<!-- Testing for rendering user-details -->

{% block content%}
<img src="{{user_data.image_url}}" alt="">
{% block heading %} {{user_data.first_name}} {{user_data.last_name}} {% endblock %}

<!-- <form action="/edit-user/{{user_data.id}}"> -->
<span>
<a href="/users/{{user_data.id}}/edit">edit</a>
</span>
<!-- </form> -->
<form action='/users/{{user_data.id}}/delete' method="POST">
  <button>Delete</button>
</form>

{% endblock %}