{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

<!-- Testing for rendering post-details -->

{% block content%}


{% block heading %}

{{post.title}}

{% endblock %}


    
<section>

        {{post.content}}
        
        By {{post.user.first_name}} {{post.user.last_name}}

        <span>
            <a href="/posts/{{post.id}}/edit">Edit</a>
        </span>
        <form action='/posts/{{post.id}}/delete' method="POST">
            <button>Delete</button>
        </form>
        <a href="/users/{{post.user_id}}">Cancel</a>
</section>

{% endblock %}